<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <nav class="nav has-shadow is-medium">
        <div class="container">
          <div class="nav-left">
            <div class="nav-item"><h1>Student Dashboard</h1></div>
          </div>
          <div class="nav-right">
            <div class="nav-item"><a href="/login">Login</a></div>
            <div class="nav-item"><a href="/signup">Sign Up</a></div>
          </div>
        </div>
      </nav>
    </header>
    <main class="section">
      <div class="container hero is-fullheight">
        <div class="columns hero-head">
          <div class="column"></div>
          <div class="column is-half">
            <div class="box is-medium">
              <h1 class='title'>Login</h1>
              <h3 class="subtitle">Please sign in to access your account</h3>
              <%= errorMsg %>
              <form action="/login" method="post">
                <p class="control has-icon">
                  <input class="input" name='email' type="email" placeholder="Email">
                  <i class="fa fa-envelope"></i>
                </p>
                <p class="control has-icon">
                  <input class="input" name='password' type="password" placeholder="Password">
                  <i class="fa fa-lock"></i>
                </p>
                <p class="control">
                  <button class="button is-success is-outlined is-fullwidth">Login</button>
                </p>
              </form>
            </div>
          </div>
          <div class="column"></div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>GA Student Dashboard</strong> developed by <a href="http://giftofjehovah.github.io/">Jonathan Phoon</a>
            <br />
            Built With <a href="http://locomotivejs.org/">Locomotive</a> & <a href="http://bulma.io/">Bulma</a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
